.form-fieldset, h1 {

    max-width: 500px;
    margin: 0 auto;
    
}

.form-content {

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-content label {

    display: grid;
    grid-template-columns: 30px 2fr;
    gap: 1rem;
    

}


